templates/service.wsdl

<?xml version = "1.0"?>
<definitions name = "MutalyzerService"
  tal:attributes = "targetNamespace string:http://${path}; 
                    xmlns:tns string:http://${path}"
  xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
  xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns = "http://schemas.xmlsoap.org/wsdl/">
  
  <message name = "getTranscriptsRequest">
    <part name = "" type = "xsd:string"/>
    <part name = "" type = "xsd:string"/>
  </message>
  <message name = "getTranscriptsResponse">
    <part name = "return" type = "xsd:string"/>
  </message>

  <message name = "getTranscriptsRangeRequest">
    <part name = "" type = "xsd:string"/>
    <part name = "" type = "xsd:string"/>
    <part name = "" type = "xsd:string"/>
    <part name = "" type = "xsd:string"/>
  </message>
  <message name = "getTranscriptsRangeResponse">
    <part name = "return" type = "xsd:string"/>
  </message>

  <message name = "getGeneNameRequest">
    <part name = "" type = "xsd:string"/>
  </message>
  <message name = "getGeneNameResponse">
    <part name = "return" type = "xsd:string"/>
  </message>

  <portType name = "ServicePortType">
    <operation name = "getTranscripts">
      <documentation>
        Get a list of transcripts, given a genomic coordinate.
      </documentation>
      <input message = "tns:getTranscriptsRequest"/>
      <output message = "tns:getTranscriptsResponse"/>
    </operation>

    <operation name = "getTranscriptsRange">
      <documentation>
        Get a list of transcripts, given a genomic range.
      </documentation>
      <input message = "tns:getTranscriptsRangeRequest"/>
      <output message = "tns:getTranscriptsRangeResponse"/>
    </operation>

    <operation name = "getGeneName">
      <documentation>
        Get the name of a gene, given an mRNA accession number.
      </documentation>
      <input message = "tns:getGeneNameRequest"/>
      <output message = "tns:getGeneNameResponse"/>
    </operation>
  </portType>

  <binding name = "ServiceBinding" type = "tns:ServicePortType">
    <soap:binding style = "rpc" 
      transport = "http://schemas.xmlsoap.org/soap/http"/>
    <operation name = "getTranscripts">
      <soap:operation 
        tal:attributes = "soapAction string:http://${path}/getTranscripts"/>
      <input>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </input>
      <output>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </output>
    </operation>

    <operation name = "getTranscriptsRange">
      <soap:operation tal:attributes = 
          "soapAction string:http://${path}/getTranscriptsRange"/>
      <input>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </input>
      <output>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </output>
    </operation>

    <operation name = "getGeneName">
      <soap:operation 
        tal:attributes = "soapAction string:http://${path}/getGeneName"/>
      <input>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </input>
      <output>
        <soap:body use = "literal" 
          tal:attributes = "namespace string:http://${path}"/>
      </output>
    </operation>
  </binding>

  <service name = "MutalyzerService">
    <documentation tal:content = "string:The Mutalyzer ${version} webservice.">
    </documentation>
    <port name = "ServicePort" binding = "tns:ServiceBinding">
      <soap:address 
        tal:attributes = "location string:http://${path}"/>
    </port>
  </service>
</definitions>
